*.pt
*.zip
*.txt
*.png
unity/
simple_a/
simple_b/
simple_c/
.ipynb_checkpoints/
과제연구/
.vscode/
PythonClient/
collect/*
!collect/collect.py
!collect/collect.ipynb
pretrain/.ipynb_checkpoints/
checkpoints/
SiMPL/